<!-- app/views/travel/index.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-5">
      <div class="mx-auto mt-5" style="width: 300px">
        <%= form_with(url: search_path, method: 'get', local: true) do %>
          <div class="form-group">
            <h2 class="text-center"><b><%= label_tag :city, 'Search for a city '%></b></h2>
            <%= text_field_tag :city, nil, placeholder: 'London', class: 'form-control' %>
          </div>
          <%= button_tag 'Search', class: 'btn btn-success btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>