<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/asfxgf/Findacity" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/quentintin1/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by <a href="https://www.malt.fr/profile/quentindeleglise" target="_blank">Quentin DELEGLISE</a>
  </div>
</div>
