.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  color: black;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

.footer {
  position: inherit;
}

}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

}